# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Vite
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data (since we are moving to MongoDB)
backend/data/*.json
backend/uploads/*
!backend/uploads/.gitkeep
